/*Global*/
*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	}

  /*Media Queries*/
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    header #branding,
    header nav,
    header nav li,
    article#main_col,
    aside#sidebar{
      float: none;
      text-align: center;
      width: 100%;
    }

    #newsletter h1,
    #newsletter form{
      float: none;
      text-align: center;
    }

    #newsletter button, .quote button{
      display: block;
      width: 100%;
    }

    #newsletter form input[type = 'email'], .quote input, .quote textarea{
      width: 100%;
      margin-bottom: 5px;
    }

    #register .form1, h1,label,input{
        width: 40%;
        }

  }

  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    header #branding,
    header nav,
    header nav li,
    article#main_col,
    aside#sidebar{
      float: none;
      text-align: center;
      width: 100%;
    }

    header{
      padding-bottom: 20px;
    }

    #showcase h1{
      margin-top: 40px;
    }

    #newsletter button, .quote button{
      display: block;
      width: 100%;
    }
    #newsletter form input[type = 'email'], .quote input, .quote textarea{
      width: 100%;
      margin-bottom: 5px;
    }
  }

  /* Desktop Styles */
  @media only screen and (min-width: 961px) {

  }
/*Global*/
  html,body{
  height: 100%;
  font: 15px/1.5 arial, Helvetica, sans-serif;
}

body{
  background: url('../img/bodyBackground.png');
}

/*Global*/
.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}

/*By degault ul have padding and margin*/
ul{
  padding: 0;
  margin: 0;
}

.button1{
  height: 38px;
  background: #fb05ad;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

/*header*/
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 20px;
  min-height: 70px;
  border-bottom: 3px solid #fb05ad;
}

header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}
header .logout a{
  text-transform:lowercase;
  text-decoration:underline;
  font-style: italic;
  float: right;
  margin-top: -2px;
}
header li{
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header #choose_link{
  float: right;
}

header #choose_link a{
  text-transform: capitalize;
  color: orange;
}

header #choose_link li{
  margin-top:9px;
  margin-left: -25px;
}

#choose_link .current a{
  color: #fb05ad;
}

header #choose_link a:hover{
  color: #8f7901;
  font-weight: normal;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight{
  font-family:Army Hollow Condensed;
  font-size:40px;

}

header .highlight, header .current a{
  color: #fb05ad;
  font-weight: bold;
}

header a:hover{
  color: cccccc;
  font-weight: bold;
}

/*Show case*/
#showcase{
  background: url('../img/Diarybackground.png') no-repeat 0 -420px;
  min-height: 600px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
	color: #000000;
}

#register{
  width: 60%;
  margin: 20px auto;
}

#register h1{
  margin-top: 0px;
  margin-left: 40px;
  font-size: 40px;
  margin-bottom: 10px;
  color: #ffffff;
}

#register h2{
  margin-top: -41px;
  margin-left: 60px;
  margin-bottom: 30px;
  color: #000000;
}
.register_link p{
  margin-left: 100px;
  color: #F6F7F8;
}

.register_link a{
  color: #F6F7F8;
  text-decoration: none;
}
.register_link a:hover{
  color: #35424a;
  display: inline;
}

.form1{
	background-color: #F6F7F8;
	border: 1px solid #D6D9DC;
	border-radius: 3px;
	width: 80%;
	padding: 50px;
	margin: 0 0 40px 40px;
}
.form_row {
	margin-bottom:40px;
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type = 'email']{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*boxes*/
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

/*Aside Bar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 25px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/*article*/
article#main_col{
  float: left;
  width: 65%;
}

.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Services*/
ul#services li{
  list-style: none;
  padding: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #fb05ad;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 800px;
  bottom: 0px;
}
footer p{
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
}
